name: CI-Pipeline

on:
  push:
    branches: [ dev, main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: DVC pull
        run: |
          pip install dvc[gs]
          if [ -d ".dvc" ]; then
            echo "Running DVC from repo root..."
            dvc pull -r gcsremote || true
          elif [ -d "mlops/.dvc" ]; then
            echo "Running DVC from mlops folder..."
            cd mlops && dvc pull -r gcsremote || true
          else
            echo "⚠️ No DVC repository found, skipping."
          fi

      - name: Run pytest
        run: pytest -q

      - name: Run inference sanity
        run: python scripts/inference.py --model_uri models:/iris_best_model/Production --eval_csv gs://mlops-474118-artifacts/data/processed/eval.csv

      - name: Post CML comment
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "CI completed" > report.md
          pip install cml
          cml comment create --token $REPO_TOKEN --file report.md || true
